* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--fs-h1:45px;
	--fs-h2: 27px;
	--fs-h3: 20px;
	--fs-p: 18px;
	--fs-title: 60px;
	--fs-primary: 16px;

	--primary-color: #34495e; /*grey*/
	--secondary-color: #3498db; /*blue*/

	--fw-regular: 300;
	--fw-bold: 900;

	--ff-primary: 'Source Sans Pro';
	--ff-secondary: 'Source Code Pro';

}
a { 
	color: white;
	text-decoration: none;
}

/*img {
	max-width: 255px;
	margin-top: 10px;
}*/
.main_info-image,
.who_i_am-img {
	box-shadow: 10px 10px 10px grey;
}

section {
	padding: 5em 2em;
}
body {
	font-family: var(--ff-primary);
	background: #fff;
	line-height: 1.6;
	color: black;
}
html {
	scroll-behavior: smooth;
}

				/*TYPOGRAPHY*/

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
p {font-size: var(--fs-p);}


h2 {
	background: var(--secondary-color);
	font-family: var(--ff-secondary);
	font-weight: var(--fw-regular);
}

.main_info-items strong{
	display: block;
	font-weight: var(--fw-bold);
}

.main_info h1 {
	font-weight: var(--fw-regular);
}

			/*MAIN STYLES*/
.main_header {
	display: grid;
	grid-template-areas: "logo navigation";
	grid-template-columns: 3fr 1fr;
	padding: 0px 30px;
	background: var(--primary-color);
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 3;
}
.main_header-item {
	display: inline-block;
	margin-top: 24px;
	text-align: center;
}
.main_nav {
	display: none;
	position: absolute;
	background: var(--primary-color);
	right: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}
.main_nav li {
	padding-top: 10px;
	list-style-type: none;
	padding: 8px;
	margin-left: -39px;
}
.main_nav a {
	padding: 10px;
	transition: ease-in-out .4s;
}
.main_nav a:hover {
	background-color: grey;
}
.main_header-item:hover .main_nav {
	display: block;
}
span {
	color: white;
}

				/*MAIN INFO*/
.main_info {
	padding-top: 150px;
	position: relative;
	text-align: center;
	line-height: 1.1;
}
.main_info-subtitle {
	padding: 8px;
}

			/*WHAT I DO*/

.what_i_do {
	position: relative;
	text-align: center;
	background: var(--primary-color);
	color: white;
	padding-top: 10px;
}

			/*WHO I AM*/

.who_i_am {
	display: block;
	position: relative;
	text-align: center;
	word-spacing: 3px;
}

			/*MY WORKS*/

.my_works {
	position: relative;
	display: block;
	background: var(--primary-color);
	color: white;
	text-align: center;
}
.works-items {
	opacity: 1;
	display: block;
	transition: ease-in-out .3s;
	position: relative;
}
.works-items:hover {
	opacity: .6;
}
.works_title{
	opacity: 0;
	position: absolute;
	font-family: var(--ff-secondary);
	font-weight: var(--fw-bold);						
	font-size: var(--fs-h3);
	background: var(--secondary-color);
	text-align: center;
	width: 255px;
	height: 145px;
	bottom: 3px;
	transition: ease-in-out .4s;
	padding-top: 40px;
}
.works-items:hover .works_title{
	opacity: 1; 
}
			/*FOOTER*/

.footer {
	position: relative;
	text-align: center;
	background: var(--primary-color);
	color: white;
	height: 100%;
	margin-top: 50px;
	padding: 10px;
}
.footer-icon i {
	margin: 20px;
	transition: ease-in-out .2s;
}
.footer-icon i:hover {
	color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
	.main_header-logo {
		padding-left: 100px;
	}
	.main_header {
		background: var(--primary-color);
		grid-template-columns: auto auto;
	}
	.main_nav {
		display: inline-block;
		position: relative;
		box-shadow: none;
		background: none;
	}
	.main_nav li {
		display: inline-block;
		padding: 10px;
		margin: 5px;
		font-size: var(--fs-h3);
	}
	.main_nav a {
		padding: 20px;
		color: white;
	}
	.main_nav a:hover {
		background: var(--secondary-color);
		color: black;
	}
	.main_header-item {
		margin-top: 5px;
	}
	.main_header-item span {
		display: none;
	}
	.main_info {
	display: grid;
	grid-template-areas: 
		"img h1"
		"img h3";
	}
	.main_info-items {
		margin-top: 50px;
	}

	.what_i_do {
		display: grid;
		grid-template-areas: 
		"h1"
		"title1 title2 title3"
		"content1 content2 content3";
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
	}
	.what_i_do_main-title {
		grid-area:1/1/1/4;
		padding-bottom: 20px;
	}

	.who_i_am-info {
		display: grid;
		grid-template-areas:
			"img h1"
			"img h2"
			"img p";
		grid-column-gap: 15px;
		grid-template-rows: 100px 50px auto;
	}
	.who_i_am-info img {
		grid-area: img;
	}
	.who_i_am-info h1 {
		grid-area: h1;
	}
	.who_i_am-info h2 {
		grid-area: h2;
	}
	.who_i_am-info p {
		grid-area: p;
	}
	.works img {
		max-width: 400px;
	}
		.works-items {
		display: inline-block;
	}
	.works_title {
		width: 400px;
		height: 95%;
		padding-top: 80px;
		font-size: var(--fs-h2);
	}
}
@media only screen and (min-width: 1200px){
	.main_info {
		position: relative;
		width: min-content;
		margin: 0 auto;
		grid-template-columns: min-content max-content;
		grid-column-gap: 10px;
	}
	.main_info-subtitle {
		position: absolute;
		left: -20px;
		width: 100%;
		text-align: right;
	}
	.main_info-img {
		position: relative;
		grid-area: img;
		z-index: 2;
	}
	
	.who_i_am-info {
		grid-template-areas:
			"h1 img"
			"h2 img"
			"p img";
		grid-template-columns: 600px auto;
		width: min-content;
		margin: 0 auto;
		justify-content: center;
		position: relative;
		text-align: left;
	}
	.who_i_am-sub {
		position: absolute;
		width: 150%;
	}
	.who_i_am-img {
		z-index: 2;
	}
	.who_i_am-title,
	.who_i_am-sub,
	.who_i_am-subtitle {
		padding-left: 20px	;
	}
	.works img {
		max-width: 500px;
	}
	.works_title {
		width: 500px;
		height: 95%;
		padding-top: 60px;
		font-size: var(--fs-h1);
	}

}